   /* Sfondo e Font */

   * {
       font-family: "Poppins", sans-serif;
   }

   html {
       box-sizing: border-box;
       background-image: url(/storage/sfondoProva2.jpg);
       background-size: cover;
       background-attachment: fixed;
   }

   #explore_header {
       color: white;
   }

   /* Container Search */

   .search-container {
       background-color: rgba(0, 0, 0, 0.8);
       margin: 40px;
       margin-top: 8%;
       width: 95%;
       padding: 10px;
       z-index: -1;
   }

   #research {
       text-align: center;
   }

   .quantity {
       color: white;
   }

   #barra_ricerca {
       padding: 6px;
       margin-top: 1%;
       margin-bottom: 1%;
       font-size: 17px;
       width: 55%;
       text-align: left;
   }

   #durata {
       padding: 6px;
       margin: auto;
       margin-bottom: 1%;
       font-size: 17px;
       width: 5%;
       text-align: left;
   }

   #distanza {
       padding: 6px;
       margin: auto;
       font-size: 17px;
       width: 5%;
       text-align: left;
   }

   .searchExplore {
       padding: 4px 8px;
       margin-right: 0.5%;
       font-size: 20px;
       margin-left: 10px;
       border: thin #000000 solid;
       text-transform: uppercase;
       text-align: center;
       color: rgba(255, 255, 255, 0.7);
       text-decoration: none;
       cursor: pointer;
       background-color: #2bc9d1;
       border-radius: 25px;
   }

   .searchExplore:hover {
       box-shadow: 0px 0px 10px white;
   }

   #Response_Research {
       font-size: 18px;
       color: white;
   }

   /* Sezioni Risultati Ricerca  */

   .info {
       font-size: 25px;
       color: rgba(255, 255, 255, 0.7);
       font-weight: 300px;
   }

   #line {
       content: "";
       width: 120px;
       height: 1px;
       display: inline-block;
       background: #4ce0eb;
       margin: 10px 5px;
   }

   .titolo_info {
       font-size: 35px;
       font-weight: 400px;
       color: white;
   }

   .inner_row {
       background-color: rgba(0, 0, 0, 0.8);
       margin: 40px;
       width: 95%;
       padding: 10px;
       z-index: -1;
       clear: both;
       content: "";
   }

   #ricerca_roadmap,
   #ricerca_utenti,
   #risultati_roadmap,
   #risultati_utenti {
       display: none;
   }

   /* Container Risultati */

   #items-user,
   #items-roadmap {
       position: relative;
       white-space: nowrap;
       overflow-x: auto;
       overflow-y: hidden;
       transition: all 0.2s;
       transform: scale(0.98);
       will-change: transform;
       user-select: none;
       padding-bottom: 10px;
       color: black;
   }


   /* Container Risultati */

   .new_item-user,
   .new_item-roadmap {
       display: inline-block;
       border-radius: 25px;
       height: fit-content;
       width: 343px;
       cursor: pointer;
       border: solid 2px;
       padding-top: 10px;
       padding-bottom: 10px;
       margin-right: 10px;
       text-align: center;
       color: white;
       font-size: 25px;
   }

   .new_item-user img {
       width: 60%;
   }

   .new_item-user:hover,
   .new_item-roadmap:hover {
       background-color: #16cdd28f;
   }

   /* Contenuto Risultati Roadmap */

   .inEvidenza {
       font-size: 25px;
       font-weight: bold;
       text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
   }

   .new_item-roadmap a {
       text-decoration: none;
   }

   .interno {
       font-size: 20px;
       font-weight: initial;
       margin-left: 15px;
       color: white;
   }