<!DOCTYPE html>
<html>
<HEAD>
  <title>Going - About</title>
  <meta charset="utf-8" />
  <meta name="description" content="Programma la tua esperienza di viaggio creando la tua roadmap oppure scegliendo tra le più belle della community!">
  <meta name="author" content="Maraniello Mennillo Orlando Perillo Russo" />
  <meta name="keywords" content="Going, going, viaggi, travel, roadmap" />
  <link rel="icon" href="/storage/favicon.jpg" type="image/jpg" />
  <script src="/View/user/login.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/View/static/about.css">
  <link rel="stylesheet" href="/View/static/header.css">
  <script src="/View/static/header.js" type="text/javascript"></script>
  <!-- Google Fonts -->
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">
</HEAD>

<body onload="caricaHeader(), check()">

  <div class="contenuto">
    <div class="row">
      <div class="inner_row">
        <span id="info"> CONTATTI </span> <span id="line"></span>
        <br>
        <span id="titolo_info">CONTATTACI PER EVENTUALI SEGNALAZIONI</span>
      </div>
      <div class="column">
        <div class="card">
          <img src="/storage/MM.jpeg" alt="Matteo" />
          <div class="container">
            <h2>Matteo<br>Maraniello</h2>
            <p class="title">Ingegnere Informatico</p>
            <p>matteomaraniello@outlook.it</p>
            <p><a href="mailto:matteomaraniello@outlook.it"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="/storage/VM.jpg" alt="Valerio" />
          <div class="container">
            <h2>Valerio<br>Mennillo</h2>
            <p class="title">Ingegnere Informatico</p>
            <p>valex_99@hotmail.it</p>
            <p><a href="mailto:valex_99@hotmail.it"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="/storage/GMO.jpg" alt="John" />
          <div class="container">
            <h2>Gian Marco<br>Orlando</h2>
            <p class="title">Ingegnere Informatico</p>
            <p>giammy677@gmail.com</p>
            <p><a href="mailto:giammy677@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="/storage/MP.jpg" alt="Marco" />
          <div class="container">
            <h2>Marco<br>Perillo</h2>
            <p class="title">Ingegnere Informatico</p>
            <p>marcoperillo26@gmail.com</p>
            <p><a href="mailto:marcoperillo26@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="/storage/DR.jpg" alt="Diego" />
          <div class="container">
            <h2>Diego<br>Russo</h2>
            <p class="title">Ingegnere Informatico</p>
            <p>diego.russo1331@gmail.com</p>
            <p><a href="mailto:diego.russo1331@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>