<!DOCTYPE html>
<html>

<HEAD>
    <title>Going - Info</title>
    <meta charset="utf-8" />
    <meta name="description"
        content="Programma la tua esperienza di viaggio creando la tua roadmap oppure scegliendo tra le più belle della community!">
    <meta name="author" content="Maraniello Mennillo Orlando Perillo Russo " />
    <meta name="keywords" content="Going, going, viaggi, travel, roadmap" />
    <link rel="icon" href="/storage/favicon.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/View/static/info.css">
    <link rel="stylesheet" href="/View/static/header.css">
    <script src="/View/user/login.js" type="text/javascript"></script>
    <script src="/View/static/header.js" type="text/javascript"></script>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
</HEAD>

<body onload="caricaHeader(), check()">
    <div class="row2">
        <div class="box">
            <div class="inner_box">
                <div class="inner_row">
                    <span id="info"> INFO </span> <span id="line"></span>
                    <br>
                    <span id="titolo_info"> LEGGI MAGGIORI INFORMAZIONI </span>
                </div>
                <div class="inner_row">
                    <div class="inner_coloumndx">
                        <div id="info_text">
                            <h2> REGISTRAZIONE AUTENTICAZIONE E RICERCA</h2>
                            <span>
                                <span class="underline">Il sito offre funzionalità anche agli Utenti Non
                                    Registrati</span>. Oltre a visitare la <span class="underline">homepage</span> e le
                                pagine <span class="underline">“Info”</span> e
                                <span class="underline">“Chi Siamo”</span> (dove è possibile trovare alcune informazioni
                                utili), anche gli Utenti Non Registrati potranno cercare
                                Roadmap create dagli Utenti Registrati per poterle visualizzare. Gli Utenti Non
                                Registrati potranno effettuare tale
                                ricerca dall’apposita barra presente direttamente in homepage oppure visitando la pagina
                                <span class="underline">“Esplora”</span>.
                                È possibile visitare la pagina “Esplora” anche non effettuando alcuna ricerca. In questo
                                caso verranno mostrate alcune
                                Roadmap suggerite selezionate in base ad alcuni criteri di qualità tra quelle presenti
                                nella piattaforma.
                                Effettuando, invece, una ricerca per parole chiave, verranno mostrate tutte le Roadmap
                                ed i profili degli Utenti
                                Registrati che corrispondono a tali parametri.
                                Tramite gli appositi campi presenti subito sotto la barra di ricerca, <span
                                    class="underline">è possibile filtrare i risultati</span> inserendo
                                ulteriori parametri. Quando si fa riferimento ad alcune funzionalità riservate agli
                                utenti registrati,
                                il sistema rileva che l’Utente non è attualmente Autenticato all’interno del sistema ed
                                apparirà a video un popup che invita ad effettuare il <span
                                    class="underline">login</span> o la <span class="underline">registrazione</span>.
                                L’Utente Non Registrato può, dunque, decidere di <span class="underline">iscriversi
                                    premendo sull’apposito bottone</span>. Si verrà, dunque,
                                re-indirizzati alla pagina di registrazione nella quale sarà possibile inserire i propri
                                dati.
                                Una volta completata la fase di registrazione, il sito effettuerà il redirect sulla
                                homepage. Da qui, tramite l’apposito
                                bottone, sarà possibile effettuare il login.</span>
                            <h2> <br>COME CREARE UNA ROADMAP </h2>
                            <span>
                                Una volta effettuato il <span class="underline">Login</span> potrai creare una Roadmap
                                visitando l’apposita pagina <span class="underline">"crea"</span>
                                accessibile tramite Homepage o ancora attraverso la barra di navigazione presente nelle
                                altre pagine. Innanzitutto è
                                necessario specificare alcune
                                informazioni basilari fondalmentali per la creazione della Roadmap quali <span
                                    class="underline">titolo</span>,
                                <span class="underline">visibilità</span> e <span class="underline">modalità di
                                    percorrenza</span> (attenzione: nel caso
                                in cui visibilità e modalità non
                                vengono specificati, verranno selezionati i rispettivi valori di default "pubblica" e "a
                                piedi"); dopo di che il tasto
                                "salva impostazioni" potrà essere premuto
                                e permetterà l'accesso alla descrizione (facoltativa) e alla mappa, situata nel blocco
                                inferiore.
                                <br>
                                <div class="containerImmagineInfo">
                                    <p><img type="image/png" src="/storage/info1.png" style="width: 90%" /></p>
                                </div>
                                <br>
                                A questo punto, interagendo direttamente con la mappa sarà possibile <span
                                    class="underline">aggiungere Stage</span> alla propria Roadmap. Facendo
                                <span class="underline">click su un punto di interesse già evidenziato sulla
                                    mappa</span> sarà possibile selezionare proprio quel punto come nuovo
                                Stage senza dover inserire alcuna informazione ulteriore se non la durata di permanenza
                                in cui si prevede di sostare in
                                tale Stage.
                                Facendo <span class="underline">click su un qualsiasi punto della mappa che non è già
                                    evidenziato</span> sarà possibile inserire uno Stage
                                ex-novo. Tali Stage vengono creati appositamente dall’Utente Autenticato e salvati nel
                                database locale. Per questo,
                                successivamente qualsiasi altro Utente Autenticato potrà utilizzare tale Stage come se
                                fosse un qualsiasi altro Stage.
                                All’atto di creazione di un nuovo Stage sarà richiesto di inserire un nome e,
                                opzionalmente, sarà possibile arricchirlo
                                con ulteriori informazioni opzionali quali una foto, un sito web e la durata di sosta.
                                Tali Stage verranno aggiunti automaticamente all’elenco presente sulla destra ed in
                                maniera del tutto automatica
                                verranno calcolati il percorso e la durata di percorrenza tra uno Stage e l’altro.
                                <br>
                                <div class="containerImmagineInfo">
                                    <p><img type="image/png" src="/storage/info2.png" /></p>
                                </div>
                                <br>
                                Una volta terminata la propria Roadmap, l’Utente Autenticato può pubblicarla tramite
                                l’apposito bottone di conferma.
                                Alla pressione di tale bottone, l’Utente Autenticato sarà automaticamente indirizzato
                                alla pagina di visualizzazione
                                della Roadmap appena creata.




                            </span>
                            <h2> ALTRE FUNZIONALITÀ </h2>
                            <span>
                                Ulteriori funzionalità esclusive degli Utenti Autenticati sono quelle relative
                                all’aggiunta di una Roadmap al proprio
                                elenco di <span class="underline">Roadmap Preferite e/o Seguite</span> o, ancora, quelle
                                relative alla pubblicazione di
                                un <span class="underline">commento</span> o una <span
                                    class="underline">recensione</span> ad
                                una Roadmap (possibile tramite la pagina di visualizzazione della Roadmap stessa).
                                Inoltre, interagendo in svariati modi
                                col sito gli Utenti Autenticati potranno guadagnare diversi <span
                                    class="underline">achievement</span> relativi, ad esempio, alla pubblicazione di un
                                certo numero di nuove Roadmap, all’aggiunta di un certo numero di Roadmap ai Preferiti o
                                ai Seguiti o, ancora, alla
                                pubblicazione di un certo numero di commenti o recensioni. Inoltre - <span
                                    class="underline">accedendo al proprio profilo</span> premendo sul proprio
                                avatar presente in alto a destra su qualsiasi pagina del sito una volta che si è
                                effettuato l’accesso - ogni Utente
                                Autenticato potrà <span class="underline">visualizzare le proprie Roadmap</span> private
                                o, ancora, <span class="underline">modificare il proprio avatar</span> facendo click su
                                quello corrente.
                            </span>
                            <h3> GDPR </h3>
                            <span>
                                Secondo la General Data Protection Regulation (GDPR) (EU) 2016/679, abbiamo un obbligo
                                legale di proteggere qualsiasi informazione che collezioniamo.
                            </span>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>