.contenuto {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.creation {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.creation label {
    font-size: 25px;
}

.creation input[type="text"] {
    font-size: 20px
}

.creation label.visibilita {
    border: 2px black;
}