.container_up {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.container_up label {
    font-size: 25px;
}

.title_vis {
    width: 65%;
    margin: auto;
    float: center;
    margin-top: 20px;
    border: 3px dotted #00AAF8;
    padding: 10px;

}

.description {
    padding: 10px;
    width: 65%;
    margin: auto;
    float: center;
    margin-top: 20px;
    border: 3px dotted #00AAF8;
}

input[type="text"]{
    font-size: 15px;
}

.description input[type="text"] {
    height:80%; 
    width:100%;
}

input[type=submit]{
    width: 10%;
    background-color: #3274d6;
    border: 5px solid;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
input[type="submit"]:hover{
    background-color: #2868c7;
    transition: background-color 0.2s;
}


.container_middle {
    width: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.mappa_rm {
    width: 100%;
    margin: auto;
    float: center;
    margin-top: 20px;
    border: 3px solid black;
    padding: 10px;

}

.lista {
    padding: 10px;
    width: 65%;
    margin: auto;
    float: center;
    margin-top: 20px;
    border: 3px solid black;
}