.search-container {
    float: center;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 55%;
    text-align: center;
}

.search-container button {

    padding: 6px 10px;
    margin-top: 8px;

    background-color: white;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

.search-container button:hover {
    background: #00AAF8;
}

.container {
    width:auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding-bottom: 10px;
}

.footer{
    margin-top: 14%;
}


@supports(display: grid) {

    .grid-container {
        margin-top: 40px;
        text-align: center;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        
        grid-template-areas:
            "header header header"
            "title title footer"
            "main main main";

        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr auto 1fr;
            grid-template-areas:
                "header"
                "title"
                "main"
                "footer";
        }
    }

    .grid-item {
       
        background-color: white;
        
        font-size: 1em;
        
    }

  
    .main {
        color: lighten(gray, 25%);
        background-color: lighten(skyblue, 60%);
        grid-area: main;
        padding-top: 10px;
        
        overflow-x: scroll;
        overflow-y: hidden;
    }


    .items {
        position: relative;
        
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
        
        padding-bottom: 10px;
        color: black;
    }

    .item {
        display: inline-block;
        border-radius: 20px;
        height: fit-content;
        min-width: 350px;
        cursor: pointer;
        border: solid 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
        text-align: center;
        background-color: skyblue;
        color: white;
    }

    .item a{
        color:white;
        text-decoration: none;
    }
}

@supports(display: grid) {

    .grid-container-user {
        margin-top: 40px;
        text-align: center;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        
        grid-template-areas:
            "header header header"
            "title title footer"
            "main main main";

        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr auto 1fr;
            grid-template-areas:
                "header"
                "title"
                "main"
                "footer";
        }
    }

    .grid-item-user {
       
        background-color: white;
        
        font-size: 1em;
        
    }

  
    .main-user {
        color: lighten(gray, 25%);
        background-color: lighten(skyblue, 60%);
        grid-area: main;
        padding-top: 10px;
        
        overflow-x: scroll;
        overflow-y: hidden;
    }


    .items-user {
        position: relative;
        
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
        
        padding-bottom: 10px;
        color: black;
    }

    .item-user {
        display: inline-block;
        border-radius: 20px;
        height: fit-content;
        min-width: 350px;
        cursor: pointer;
        border: solid 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
        text-align: center;
        background-color: skyblue;
        color: white;
    }

    .item-user a{
        color:white;
        text-decoration: none;
    }
}



