@font-face {
    font-family: "testo";
    src: url("Fragmentcore.otf")
}
htlm,
body {
    margin: 0;
    padding: 0;

}

body {
    font-family: "testo";
}


/* Style the body */

/* Header/logo Title */
.header {
    height: 100px;
    text-align: center;
    background: #00AAF8;
    color: white;
    position: fixed;
    width: 100%;
    top:0px;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 25px;
}

/* Style the top navigation bar */
.navbar {
    border-style: solid;
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 90px;
}   

/* Style the navigation bar links */
.navbar a {

    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
    padding-left: 5px;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;

}

.contenuto{
    padding-top: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

/*
Deep Sky Blue – #0160D6
Surf Blue – #00AAF8
Orange Red – #F13B13
*/
.footer {
    color: white;
    padding: 5px;
    text-align: center;
    background-color: #00AAF8;
  }
  
  