/* in HTML inserire i div "log" e  */
/*Nuovo Header*/

.row1 {
	height: 100px;
	width: 100%;
	position: fixed;
	opacity: 0.9;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	z-index: 1;
}

#logo-header {
	height: 100%;
}

.coloumn-headersx {
	float: left;
	width: 30%;
	height: 100%;
	background-color: black;
	font-family: "Poppins", sans-serif;
}

.coloumn-headerdx {
	float: left;
	width: 60%;
	height: 100%;
	background-color: black;
	font-family: "Poppins", sans-serif;
	/*border: solid 2px blue;*/
}

.coloumnLogo {
	float: left;
	/*width: 25%;*/
	text-align: center;
	height: 100%;
	background-color: black;
	font-family: "Poppins", sans-serif;
}

.coloumnTitolo {
	float: left;
	width: 60%;
	text-align: center;
	height: 100%;
	background-color: black;
	font-family: "Poppins", sans-serif;
	/*border: solid 2px red;*/
}

.coloumn img {
	/*float: left;*/
	margin-left: 5%;
}

.topnav {
	align-items: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav a {
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
	padding: 10px;
	text-align: center;
	margin-left: 30px;
}

.topnav a:hover {
	color: rgba(255, 255, 255, 1);
}

.topnav a:after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	transition: width .3s ease-in-out;
	background-color: #18b6d2;
}

.topnav a:hover:after {
	width: 60%;
}

.coloumnTitolo p {
	color: white;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	font-family: "Poppins", sans-serif;
}

#logout_header {

	margin-left: 18%;

}


#logout_header:after {
	display: none;
}

/* fine header */

.button_header {
	border: thin solid #18c9d2;
	display: inline-block;
	transition: all ease-in-out 0.3s;
	text-decoration: none;
}

.button_header:hover {
	background-color: #117077;
	color: white;
	border: thin solid white;
	text-decoration: none;
}

#topnav_image {
	float: left;
	width: 10%;
	text-align: center;
	height: 100%;
	background-color: black;
	font-family: "Poppins", sans-serif;
}

.topnav_image img {
	height: 50%;
	border-radius: 28px;
	cursor: pointer;

	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

}

.topnav_image img:hover {
	background-color: #141a1b;
	box-shadow: 0px 0px 3px 2px #07b7c4;
}

#topnav_image0 {
	float: left;
	width: 5%;
	text-align: center;
	height: 100%;
	background-color: black;
	font-family: "Poppins", sans-serif;
	display: none;
}

.topnav_image0 img {
	height: 50%;
	border-radius: 28px;
	cursor: pointer;

	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.topnav_image0 img:hover {
	background-color: #141a1b;
	box-shadow: 0px 0px 3px 2px #07b7c4;
}

/*-------------------*/
#log {
	font-size: 26px;
    display: none;
    z-index: 2;
    font-family: serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    width: 70%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border: thin #d24618 solid;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.pulsantiForm {
	font-size: 20px;
	padding: 5px 30px;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
	background-color: #a02113;
	color: white;
}

.pulsantiForm:hover {
	/*box-shadow: 0px 0px 10px #18d26e;*/
	box-shadow: 0px 0px 10px white;
}

input[type="text"],
input[type="password"] {
	width: 50%;
	font-size: 30px;
	border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border: medium solid #d21818;
}


.noReg {
	font-size: 20px;
}

.noReg a {
	color: #d24018;
}

.inEvidenza {
	color: #fff;
	border-bottom: 2px solid #a6290f;
}

/*-------------------*/

#logout {
	display: none;
      font-size: 26px;
      z-index: 2;
      font-family: serif;
      color: white;
      background-color: rgba(0, 0, 0, 0.92);
      position: fixed;
      width: 70%;
      text-align: center;
      font-family: "Poppins", sans-serif;
      border: thin #d24618 solid;
      overflow: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 25px;
}

/*-------------------*/


.footer {
	color: white;
	margin-top: 100px;
	padding: 20px;
	text-align: center;
	background-color: #00AAF8;

}