
/* Stile Body */



/* Stile Contenuto */

.container {
    width: auto;
    display: grid;
    margin-top: 140px;
    margin-bottom: 20px;

}

/* Stile Sezioni */

.login{
    width: 65%;
    margin: auto;
    float: center;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.sign-up{
    width: 65%;
    margin: auto;
    margin-top: 20px;
    float: center;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

/* Stile Scritte */

.login h2,.sign-up h2{
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.sign-up p{
    text-align: center;
    color: #5b6574;
    font-size: 18px;
    border-bottom: 0px solid #dee0e4;
}

/* Stile Sezioni Caselle */

.form{
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Stile Caselle Input */

.form[type="password"], .form[type="text"]{
    width: 60%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin: auto;
    margin-bottom: 20px;
}

.form[type="date"]{
    width: 60%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin: auto;
    margin-bottom: 20px;
}

.form[type="submit"]{
    width: 100%;
    padding: 15px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
