* {
    box-sizing: border-box;
}

.row2 {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column2 {
    flex: 50%;
    padding: 10px;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 25px;
    background-color: white;
    background-position: 12px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    width: 50%;
}
input[type=submit]{
    width: 30%;
    background-color: #3274d6;
    border: 5px solid;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
input[type="submit"]:hover{
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.roadmap{
    border: 2px solid #00AAF8;
}
.roadmap h3{
    text-align: center;
}
.row4:after{
    content: "";
    display:block;
    clear: both;
}
.column4 {
    text-align: center;
    float: left;
    width: 25%;
    border: 1px solid grey;
    width: 50%;
}

.info{
    text-align: center;
}

.roadmap a{
    text-decoration: none;
    color: black;
}