/* Stile Body */

body {
    background-color: #435165;
}

/* Stile Contenuto */

.container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 20px;
    margin-top: 100px;
}

/* Stile Sezioni */

.card{
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #6e0eb7;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.roadmap {
    width: auto;
    height: 55%;
    margin: 0;
    float: center;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Stile Sezione Card */

.images {
    border-radius: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h2{
    text-align: center;
}

#choice_avatar{
    font-size: 26px;
    display: none;
    z-index: 2;
    font-family: serif;
    color: white;
    background-color: #6e0eb7;
    position: absolute;
    width: 70%;
    height: 80%;
    margin: 5% 15%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border: thin #d24618 solid;
    overflow: auto;
}

.button_avatar{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#avatar_provisoral{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* Stile Sezione Roadmap */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3333%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    height: 575px;
}

/*Sezione Tabelle */

.roadmap_create,.roadmap_seguite,.roadmap_preferite{
    border: 2px solid #00AAF8;
    text-align: center;
}

.column{
    text-align: center;
    float: left;
    width: 20%;
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 1%;
}

#roadmap_create {
    background-color: red;
}

#roadmap_seguite {
    background-color: green;
}

#roadmap_preferite {
    background-color: blue;
}

/* Container Create Roadmap */

.grid-container {
    display: grid;
    grid-gap: 15px;
    height: 465px;
    overflow: auto;
    padding: 10px;
    padding-bottom: 41px;
    font-size: 12px;
    color: #fff;
}

.grid-container .inEvidenza {
    font-size: 20px;
    font-weight: bold;
}

.interno {
    font-size: 15px;
    font-weight: initial;
    margin-left: 15px;
}

.grid-container>div {
    background-color: rgba(48, 32, 32, 0.400);
    text-align: center;
    transition: all ease-in-out 0.3s;
    border-radius: 25px;
    box-shadow: 0 1px 4px 1px rgb(255 255 255 / 53%);
    /*border: thin  rgba(69, 3, 3, 0.915) solid;*/
    /*vecchio stile*/
    /*background-color: rgba(255, 255, 255, 0.08);*/
    /*box-shadow: 0 1px 1px 2px rgba(8, 8, 8, 0.599);*/
}

.grid-container a {
    text-decoration: none;
    color: white;
}

.grid-container div:hover {
    background-color: #af2d1375;
}

.achievements img {
    width: 40px;
}