.descrizione{
  text-align: left;
}

/* Stile Punteggio */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 60px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: url(/storage/cocktailVuotoPiccolo.png);
}

.rate>input:checked~label {
  content: url(/storage/cocktailPienoPiccolo.png);
}

/* Stile Cuore */

.heart {
  display: flex;
}

.heart-like-button {
  position: relative;
  width: 20px;
  height: 10px;
}

.heart-like-button:before {
  position: absolute;
  top: 0;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 30px;
  height: 50px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 30px;
  height: 50px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #FF0000;
}
.heart-like-button.liked {
  animation: liked .4s ease;
}
@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 480px) {
  .heart {
    height: auto;
  }
}

/* Stile Spunta */

.checked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checked-like-button{
  position: relative;
  width: 20px;
  height: 10px;
}

.checked-like-button:before {
  position: absolute;
  top: 0;
  left: 4px;
  transform: rotate(-50deg);
  transform-origin: 0 100%;
  width: 10px;
  height: 22px;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.checked-like-button:after {
  position: absolute;
  top: -13px;
  left: 0;
  transform: rotate(40deg);
  transform-origin :100% 100%;
  width: 10px;
  height: 40px;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}

.checked-like-button.liked::before,
.checked-like-button.liked::after {
  background-color: #00FF00;
}
.checked-like-button.liked {
  animation: liked .4s ease;
}

@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 480px) {
  .checked {
    height: auto;
  }
}