<!DOCTYPE html>
<html>
    <HEAD>
    <title>Going - Registrazione</title>
    <meta charset="utf-8" />
    <meta name="description" content="Programma la tua esperienza di viaggio creando la tua roadmap oppure scegliendo tra le più belle della community!">
    <meta name="author" content="Maraniello Mennillo Orlando Perillo Russo" />
    <meta name="keywords" content="Going, going, viaggi, travel, roadmap" />
    <link rel="icon" href="/storage/favicon.jpg" type="image/jpg" />
    <script src="/View/user/login.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/View/user/registrazione.css">
    <link rel="stylesheet" href="/View/static/header.css">
    <script src="/View/static/header.js" type="text/javascript"></script>
    <script src="/View/user/registrazione.js" type="text/javascript"></script>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    </HEAD>

    <body onload="caricaHeader(), check()">
            <!-- Contenuto Pagina-->

            <div id="postReg">
                <p>
                <h2>REGISTRAZIONE AVVENUTA CON SUCCESSO!</h2>
                </p>
                <input class="pulsantiForm" type="submit" name="Logout" value="Torna alla Homepage" onclick="goTo(0)" />
                <!--<input type="button" onclick="goTo(6)" class="pulsantiForm" value="Visita profilo" />-->
            </div>

        <div class="container">
            
            <div id="signupBox" class="sign-up">
                <h2 id="infoH">Effettua la Registrazione <a id="pressInfo" onclick="mostraInfo()">❓</a></h2>
                    <div class="info" id="infoBox"><span>Per poter effettuare correttamente la registrazione: <br>-La password deve avere un minimo di 8 caratteri.<br>-Il campo password e ripeti password devono corrispondere<br>-Tutti i campi devono essere compilati <br>-L'indirizzo e-mail deve essere essere valido </span></div>
                    <div class="info second" id="errorBox"> <span id="errorText"></span> </div>
                    <div id="inputText">
                        <p>
                            <input class="form" type="text" placeholder="Inserisci Nome Utente" name="Username" id="username" />
                            
                        </p>
                        <p>
                            <input class="form" type="password" placeholder="Inserisci Password" name="Password" id="password" minlength="8" />
                        </p>
                        <p>
                            <input class="form" type="password" placeholder="Ripeti Password" name="Confirmpassword" id="confirmpassword" minlength="8" />
                        <p>
                            <input class="form" type="text" placeholder="Inserisci Email" name="Email" id="email" />
                        </p>
                        <p>
                            <input class="form" type="date" name="Birthdate" placeholder="Inserisci Data di Nascita" onclick="date_registration()" id="birthdate" required/>
                        </p>
                    </div>
                    
                    <div class="containerButton">
                        <input class="formButton" type="button" value="Torna alla Homepage" onclick="goTo(0)"/>
                        <input id="changeButton" class="formButton" type="button" value="Registrati" onclick="validation_registration()"/>
                    </div>
                </FORM>
            </div>
        </div>
    </body>
</html>