<!DOCTYPE html>
<html>

<head>
  <title>Going - Crea</title>
  <meta charset="utf-8" />
  <meta name="description"
    content="Programma la tua esperienza di viaggio creando la tua roadmap oppure scegliendo tra le più belle della community!">
  <meta name="author" content="Maraniello Mennillo Orlando Perillo Russo" />
  <meta name="keywords" content="Going, going, viaggi, travel, roadmap" />
  <link rel="icon" href="/storage/favicon.jpg" type="image/jpg" />

  <link rel="stylesheet" href="/View/static/header.css">
  <link rel="stylesheet" href="/View/map/create.css">
  <link rel="stylesheet" href="/View/map/roadmap.css">

  <script src="/View/map/basicMap.js" type="text/javascript"></script>
  <script src="/View/map/mapUtils.js" type="text/javascript"></script>
  <script src="/View/map/create.js" type="text/javascript"></script>
  <script src="/View/user/login.js" type="text/javascript"></script>
  <script src="/View/static/header.js" type="text/javascript"></script>

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
</head>

<body onload="caricaHeader(), check(), addListner(), impostazioniFork()">

  <div id="info_nolog">
    <h2>NON SEI AUTENTICATO NEL SISTEMA!</h2>
    <h4>Effettua il Login o Registrati</h4>
    <input class="pulsantiForm" type="submit" name="home" value="Login" onclick="document.getElementById('log').style.display='block';enterLogin()" >
    <input type="submit" class="pulsantiForm" value="Registrati" onclick="location.href ='/signup'">
  </div>

  <div id="contenuto_logged">
    <div class="row2">
      <div class="box">
        <div class="inner_box">
          <div class="inner_row">
            <span id="info"> INFORMAZIONI ROADMAP </span> <span id="line"></span>
            <br>
            <span id="titolo_info"> INSERISCI LE INFORMAZIONI DI BASE </span>
          </div>
          <div class="inner_row">
            <fieldset class="title_vis">
              <legend> Campi obbligatori </legend>
              <label>
                Titolo: <span id="titleValue" class="response"></span>
                <input type="text" name="titolo" id="titolo" style="width: 75%;" />
              </label><br>
              <label class="visibilita">Visibilità: <span class="response" id="visibilitaValue"></span><br>
                <div id="inputVisibilitaBox">
                  <input type="radio" id="pub" name="visibilita" value="Pubblica" checked>
                  <label for="pub">Pubblica🌎</label><br>
                  <input type="radio" id="priv" name="visibilita" value="Privata" />
                  <label for="priv">Privata🔒</label><br>
                </div>
              </label>
              <label class="visibilita">Modalità: <span class="response" id="percorrenzaValue"></span><br>
                <div id="inputPercorrenzaBox">
                  <input type="radio" id="walking_mode" name="mobilitazione" value="WALKING" checked />
                  <label for="walking_mode">A piedi🚶‍♂️</label><br>
                  <input type="radio" id="driving_mode" name="mobilitazione" value="DRIVING" />
                  <label for="driving_mode">In macchina🚗</label><br>
                </div>
              </label>
              <input id="bottoneImpostazioni" type="button" value="salva impostazioni" onclick="mostraCreate()"
                disabled />
            </fieldset>
            <div class="description">
              <p id="avviso" style="margin-top: 0px;">❗Completa l'inserimento dei campi obbligatori e salva le
                impostazioni per poter effettuare una descrizione e accedere alla mappa per la creazione della Roadmap.
              </p>
              <textarea id="areaDescrizione" type="text" rows="12" name="descrizione" id="descrizione"
                placeholder="Inserisci una descrizione" disabled></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="box" id="mapBox">
        <div class="inner_box">
          <div class="inner_row">
            <span id="info"> STAGE ROADMAP </span> <span id="line"></span>
            <br>
            <span id="titolo_info"> AGGIUNGI STAGE ALLA ROADMAP </span>
          </div>
          <div class="inner_row">
            <div class="container_middle">
              <div class="mappa_rm">
                <!--The div element for the map -->
                <div id="map"></div>
                <script
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPAAQaGDsfG0K4lksFbcEetDuNw85mlH8&v=weekly&libraries=places,geometry"
                  defer></script>
              </div>


              <div class="all">
                <div class="body-cards">
                  <div class="main">

                    <div class="timeline">
                      <h3>ITINERARIO DI VIAGGIO</h3>
                      <p id="testoDurata">⏱Tempo di viaggio: <span class="durata" id="somma_totale">0</span> </p>
                      <div class="box">

                        <div class="container">

                          <div class="cards" id="cards">

                          </div>

                        </div>
                        <div class="bottom">


                          <div class="btn" id="submit_btn" onclick="submitRoadmap()">Conferma Creazione Roadmap</div>

                          <script src="/View/map/createRoadmap.js" type="text/javascript"></script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>