<!DOCTYPE html>
<html>

<head>
  <title>Going - Roadmap</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="description"
    content="Programma la tua esperienza di viaggio creando la tua roadmap oppure scegliendo tra le più belle della community!">
  <meta name="author" content="Maraniello Mennillo Orlando Perillo Russo" />
  <meta name="keywords" content="Going, going, viaggi, travel, roadmap" />
  <link rel="icon" href="/storage/favicon.jpg" type="image/jpg" />

  <link rel="stylesheet" href="/View/static/header.css">
  <!-- <link rel="stylesheet" href="/View/map/create.css"> -->
  <link rel="stylesheet" href="/View/map/roadmap.css">
  <link rel="stylesheet" href="/View/map/newView.css">

  <script src="/View/map/basicMap.js" type="text/javascript"></script>
  <script src="/View/map/mapUtils.js" type="text/javascript"></script>
  <script src="/View/user/login.js" type="text/javascript"></script>
  <script src="/View/static/header.js" type="text/javascript"></script>
  <script src="/View/map/viewRoadmap.js" type="text/javascript"></script>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
</head>

<body onload="caricaHeader(), check()">

  <!-- Popup per gli Achievements-->

  <div id="roadmapAchievementPopup">
    <div class="popup-interno" id="contenuto-immagine">
      <img id="imageAchievement" />
    </div>
    <div class="popup-interno" id="contenuto-testo">
      <h3> Congratulazioni!
        <button type="button" id="closeBtn" onclick="closeVisualPopup()">X</button>
      </h3>
      <p id="textAchievement"></p>
    </div>
  </div>

  <div class="popup" id="segnal_rm">
    <h2>EFFETTUA SEGNALAZIONE</h2>
    <textarea type="text" rows="4" name="descrizione" id="motiv_rm" placeholder="Inserisci la motivazione"></textarea>
    <br>
    <input type="button" class="buttonSegnalazione" id="segnalaRoadmap" name="invia" value="Segnala" />
    <input type="button" onclick="document.getElementById('segnal_rm').setAttribute('style','display:none')"
      class="buttonSegnalazione" value="Annulla" />
  </div>

  <div class="popup" id="modif_com">
    <h2>MODIFICA COMMENTO</h2>
   
    <textarea rows="4" name="commUpd" autocomplete="off" id="commUpd"></textarea>
    <br>
    <input type="button" class="buttonSegnalazione" id="modifComment" name="invia" value="Modifica" />
    <input type="button" onclick="document.getElementById('modif_com').setAttribute('style','display:none')"
      class="buttonSegnalazione" value="Annulla" />
  </div>

  <!-- Zona superiore Informazioni -->

  <div class="row2">
    <div class="box">
      <div class="inner_box">
        <div class="inner_row">
          <span id="info"> INFORMAZIONI ROADMAP </span> <span id="line"></span>
          <div id="boxIcon">
            <a class="boxclose" id="segn_rm" title="segnala roadmap">⚠️</a>
            <div class="favorite" id="favorite"> </div>
            <div class="cheched" id="checked"> </div>
          </div>
          <br>
          <div id="second_row">
            <span class="titolo" id="titolo"> </span> <input type="button" class="bottone" id="fork_btn"
              value="Forka questa Roadmap" onclick="forkaggio()" />
          </div>
        </div>
        <div class="res" id="res">
          <div class="citta" id="citta"></div>
          <div class="utente" id="utente"></div>
          <div id="data"></div>
          <div class="durata" id="durata"></div>
          <div class="distanza" id="distanza"></div>
          <div class="rating" id="rating"></div>
        </div>
      </div>
    </div>

    <!-- Zona superiore Mappa -->

    <div class="box" id="mapBox">
      <div class="inner_box">
        <div class="inner_row">
          <div class="container_middle">

            <div class="mappa_rm">
              <!--The div element for the map -->
              <div id="map"></div>
              <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPAAQaGDsfG0K4lksFbcEetDuNw85mlH8&callback=initMap&v=weekly&libraries=places,geometry"
                defer></script>

                <fieldset class="descrizioneRoadmap">
                  <legend>Descrizione Roadmap</legend>
                  <span id="descrizione"></span>
                </fieldset>

              
            </div>
            
            <div class="all">
              <div class="body-cards">
                <div class="main">
      
                  <div class="timeline">
                    <h3>Lista punti di sosta</h3>
                    <div class="box">
                      <div class="container">
                        <div class="cards" id="cards">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Zona Recensioni e Commenti -->

    <div class="popup" id="popupRecensione">
      <h2>EFFETTUA RECENSIONE</h2>
      <div id="select_rating">
        <div class="rate" id="ratingRecensione">
          <input type="radio" id="star5" name="rate" value="5" onclick="setRatingRecensione(5)"/>
          <label for="star5" title="text"></label>
          <input type="radio" id="star4" name="rate" value="4" onclick="setRatingRecensione(4)"/>
          <label for="star4" title="text"></label>
          <input type="radio" id="star3" name="rate" value="3" onclick="setRatingRecensione(3)"/>
          <label for="star3" title="text"></label>
          <input type="radio" id="star2" name="rate" value="2" onclick="setRatingRecensione(2)"/>
          <label for="star2" title="text"></label>
          <input type="radio" id="star1" name="rate" value="1" onclick="setRatingRecensione(1)"/>
          <label for="star1" title="text"></label>
        </div>
      </div>
      <textarea id="us_rec" name="us_rec" autocomplete="off" rows="6" placeholder="Motiva la tua valutazione! (facoltativo)"></textarea><br>
      <input type="button" id="save_recbtn" onclick="createRecensione()" class="buttonSegnalazione"
        value="CARICA RECENSIONE" />
      <input type="button" id="annulla_recbtn" onclick="document.getElementById('popupRecensione').setAttribute('style','display:none')" class="buttonSegnalazione"
        value="ANNULLA"/>
    </div>

    <div class="box" id="mapBox">
      <div class="inner_box">
        <div class="inner_row">
          <span id="info">COMMUNITY</span> <span id="line"></span>
        </div>
        <div class="inner_row" id="commRec">
          <div class="settore recensioni">
            <span class="titolo" id="titolo">Recensioni📝</span><br>
            <fieldset class="descrizioneRoadmap">
              <legend> La mia recensione </legend>
              <span id="avvisoRecensione">Non hai effettuato alcuna recensione.</span><br>
              <div class="center"><input type="button" id="do_rec" onclick="openRecensionePopup()" class="buttonSegnalazione" value="EFFETTUA RECENSIONE"/></div>
            </fieldset>
            <div class="recension" id="recensioni">

            </div>
            
          </div>
          
          <div class="settore commenti">
            <span class="titolo" id="titolo">Commenti💭</span><br>
            <div class="comment" id="commenti">
              <!--<input type="button" id="write_com" onclick="writeCommento()" style="width: fit-content;" class="buttonSegnalazione" value="Inserisci un commento" /><br>-->
            </div>
            <div id="rowCommento">
              <textarea id="us_com" name="us_com" autocomplete="off" rows="2" placeholder="Inserisci un commento"></textarea>
              <input type="button" id="write_com" onclick="createCommento()" class="buttonSegnalazione" value="Invia" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>